@import './base.css';

#app {
  font-weight: normal;
  max-width: 1440px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  margin: 0 auto;
}

@media screen and (max-width: 767px){
  #app{
    width: 100vw;
    height: 100vh;
  }
}